@import "./variables/_color.sass"

html
  font-size: 16px
  word-spacing: 1px
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-sizing: border-box

body
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif

*
  box-sizing: border-box
  margin: 0
  &:before, &:after
    box-sizing: border-box
    margin: 0

.main
  height: 100vh
  overflow-y: auto
  padding: 20px

.postit
  margin: 0
  font-size: 24px
  position: relative
  font-weight: normal
  display: inline-block
  background-color: #feeaac
  padding: 10px
  margin-bottom: 10px
  border-radius: 2px
  margin-right: 20px

.postit:before
  content: ''
  background-color: #b3b3b3
  display: block
  position: absolute
  left: 50%
  height: 60%
  top: 26%
  z-index: -1
  width: 46%
  box-shadow: 0 0 8px 8px #b3b3b3
  transform: rotate(3deg)

// .btn, .pointer
//   cursor: pointer
//
// .primary
//   color: var(--primary)
//
// .secondary
//   color: var(--secondary)
//
// .btn-primary
//   background-color: var(--primary)
//   color: #fff
//
// .btn-secondary
//   background-color: var(--secondary)
//   color: #000
